@import "./config";

#menu-mobile {
  display: none;
  position: absolute;
  right: calc(50vw - 3rem);
  bottom: 5vh;
  font-size: 6rem;
  height: 8rem;
  //   background: red;
  color: $darkmode-text-second;
  border-radius: 50%;
  border: none;
  padding: 0.5rem;
  //   margin: 1rem;
  border: 0.5rem solid $darkmode-text-second;
  z-index: 9;
}
// #menu-button:focus {
//   background-color: $darkmode-text-second;
// }

#menu-button {
  display: none;
  //   background: $darkmode-text-second;
  border-radius: 50%;
  color: $darkmode-text-second;
  transition: $transition-all-ease;
}
#menu-button:active {
  background: $darkmode-text-second;
}
@media screen and (max-width: 900px) {
  #menu-mobile {
    display: block;
    // transform: translateX(-300%);
  }
  #menu-button {
    display: block;
  }
}
