@import "./config";

.page-name-container {
  position: absolute;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 200;
  color: $allmodes-text-third;

  z-index: 99;
  .page-name {
    padding: 0rem 1rem;
  }
}

// @media screen and (max-width: 768px) {
//   #social-links {
//     a {
//       color: $allmodes-text-second;
//     }
//   }
// }
